.message {
    height: 30px;
}

.clear{
    clear : both;
}

.container {
    text-align: center;
}

.disabled {
    background-color: gray;
}

#annotationHolder {
    position: absolute;
    border: 1px solid red;
    height: 425px;
    z-index: 2;
}

.annotation {
    color : black;
    background-color: red;
    z-index :3;
}

.videoHolder {
    position: relative;
}

#mainVideo {
    height: 425px;
    z-index: 1;
    position: relative;
}


#seekingBar {
    height : 30px;
    width : 500px;
    border : black 1px solid;
    position : relative;
    display: inline-block;
}

#seekingTracker {
    height : 30px;
    width : 10px;
    background-color: red;
    position : absolute;
}
