.message{
    width : 500px;
    height : 30px;
}

.clear{
    clear : both;
}

.annotationHolder {
    color : black;
    background-color: red;
    z-index : 2;
    position: absolute;
    margin-top: 10px;
}

.videoHolder {
    position: relative;
}

#mainVideo {
    z-index: 1;
    position: relative;
}


#seekingBar {
    height : 30px;
    width : 500px;
    border : black 1px solid;
    position : relative;
}

#seekingTracker {
    height : 30px;
    width : 10px;
    background-color: red;
    position : absolute;
}
